.container {
    font-family: 'Poppins';
}

.open-modal {
    display: block;
    width: 522px;
    margin: 10px auto;
    padding: 5px 0;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #1ca1f2;
}

.twit-wrap {
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

.twit-modal {
    position: relative;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}

.twit-modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(94,171,255,0.6);
    z-index: 5;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 0px;
    border: none;
    font-size: 16px;
    color: #1ca1f2;
    background-color: transparent;
}

.twit {
    text-align: left;
    display: inline-block;
    font-size: 16px;
}

.twit-author {
    margin-bottom: 5px;
    font-size: 14px;
}

.twit-icon {
    color: #1ca1f2;
}

.author-name {
    font-weight: 700;
    text-decoration: underline;
}

.author-username {
    text-transform: lowercase;
}

.author-email {
    text-transform: lowercase;
    font-style: italic;
}

.twit-title {    
    margin-bottom: 5px;
}

.twit-text {
    width: 500px;
    margin-bottom: 8px;
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: 'Poppins';
    font-size: 13px;
    color: white;
    background-color: #1ca1f2;
}

.twit-btn-delete {
    margin-left: 10px;
}

.text-title {
    display: inline-block;
    width: 500px;
    min-height: 70px;
    border: none;
    border-bottom: 1px solid gray;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1; 
}

.text-area {
    display: inline-block;
    width: 500px;
    min-height: 100px;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1;
}

.hide {
    display: none;
}