@media screen and ( min-width:640px ) 

    .head-pizza

        &__title
            width: 558px
            padding: 26px 0 25px 38px
            font-size: 24px
            font-weight: 500

        &__btn
            width: 82px
            padding: 26px 25px 26px 25px

            &--span1, &--span2, &--span3
                width: 32px
                height: 4px
                margin: 4px 0

            &:hover &--span1
                transform: rotate(45deg) translate(8px, 7px)

            &:hover &--span3
                transform: rotate(-45deg) translate(4px, -4px)

    .head-menu
        top: 79px
        right: 0px
        font-size: 14px
    
        &__item
            width: 245px
            height: 46px
            padding: 15px 0 15px 30px

    .head-main
        width: auto
        min-height: 346px
        padding: 23px 38px

        &__text
            font-size: 36px

        &__text:nth-of-type(2)
            margin-top: 14px

        &__link
            margin-top: 17px
            font-size: 24px

    .menu-main
        margin-top: 6px
        height: auto

        &-item

            &:nth-of-type(2), &:nth-of-type(3)
                margin-top: 2px

            &__title
                position: static
                width: 500px
                padding: 57px 135px
                box-sizing: border-box
                font-size: 36px

                &--bckgnd1
                    background-image: url('../imgs/640px/pizza_delivery_fon_640px.png')

                &--bckgnd2
                    background-image: url('../imgs/640px/UA_UX_salads_fon_640px.png')

                &--bckgnd3
                    background-image: url('../imgs/640px/desserts_fon_640px.png')

                &--span-pr1
                    position: static
            
                &--span-pr2
                    position: static

                &--span-pr3
                    position: static

            &__btn
                width: 140px
                padding: 49px 0px 92px 0px

                & .fas
                    position: static
                    font-size: 41px

    .menu-in-detail

        &-slogan
            margin-top: 45px

            &__title
                position: static
                font-size: 40px

            &__desc
                left: -135px
                margin-top: 10px
                font-size: 20px

        &-categories

            &__title
                margin-top: 20px
                padding: 23px 0 23px 38px
                font-size: 40px

        &-category

            &__title
                margin-top: 38px
                margin-bottom: 42px
                padding-left: 37px
                font-size: 30px

                &--logo1
                    right: -147px
                    bottom: -7px
                    width: 49px
                    height: 48px
                    background-image: url('../imgs/640px/menu_logos/menu_item_logo_01.png')

                &--logo2
                    right: -165px
                    bottom: -12px
                    width: 27px
                    height: 48px
                    background-image: url('../imgs/640px/menu_logos/menu_item_logo_02.png')

                &--logo3
                    right: -160px
                    bottom: -7px
                    width: 61px
                    height: 42px
                    background-image: url('../imgs/640px/menu_logos/menu_item_logo_03.png')

                &--logo4
                    right: -113px
                    bottom: -7px
                    width: 43px
                    height: 42px
                    background-image: url('../imgs/640px/menu_logos/menu_item_logo_04.png')

            &__item
                margin-top: 22px
                padding-left: 36px

                &__title
                    font-size: 27px

                &__price
                    font-size: 27px

                    &--pl1
                        padding-left: 282px

                    &--pl2
                        padding-left: 239px

                    &--pl3
                        padding-left: 153px

                    &--pl4
                        padding-left: 185px

                    &--pr1
                        position: static

                    &--pr2
                        position: static

                &__info
                    margin-top: 16px
                    padding-right: 34px
                    padding-left: 3px
                    font-size: 18px
    
    .footer_pizza
        height: 75px
        margin-top: 117px
        padding-top: 28px
        font-size: 18px

        &__text
            display: block

            &--mt1
                margin-top: 15px
