@media screen and ( min-width:644px ) 

    .head-pizza
        background: #373c3f

        &__title
            display: none

        &__btn
            display: none

    .head-menu
        position: static
        display: inline-block
        background: #373c3f

        &__item
            display: inline-block
            width: auto
            height: auto
            padding: 25px 0 25px 30px
            font-size: 19px
            border: none
            color: #f5f5f5

            &:hover
                background-color: #373c3f