@media screen and ( min-width:980px )

    .head-pizza

        &__logo
            display: inline-block
            margin: 11px 0 11px 216px
    
    .head-menu

        &:hover
            display: inline-block

        &__item
            padding: 45px 0 45px 33px
            font-size: 15px
            text-transform: uppercase

    .head-main
        width: 100%
        height: 530px
        padding: 64px 30px

        &__text
            font-size: 54px

        &__link
            margin-top: 57px
            font-size: 34px

    .menu-main
        flex-direction: row

        &-item

            &:nth-of-type(2), &:nth-of-type(3)
                margin-top: 0px

            &__title
                width: 328px
                height: 325px
                padding: 143px 0
                text-align: center

                &--bckgnd1
                    background-image: url('../imgs/980px/pizza_delivery_fon_980px.png')

                &--bckgnd2
                    background-image: url('../imgs/980px/UA_UX_salads_fon_980px.png')

                &--bckgnd3
                    background-image: url('../imgs/980px/desserts_fon_980px.png')

            &__btn
                display: none

    .menu-in-detail
        font-size: 0px

        &-slogan
            margin-top: 72px

            &__title
                display: block
                font-size: 34px
                padding-left: 30px
                text-align: left

            &__desc
                left: 0
                margin-top: 10px
                font-size: 20px
                padding-left: 30px
                text-align: left

        &-categories
            display: inline-block
            width: 50%
            margin-top: 21px

            &__title
                margin-top: 0px
                padding: 23px 0 23px 18px

        &-category

            &__title
                height: 50px
                margin-top: 41px
                margin-bottom: 46px
                padding-left: 21px
                font-size: 26px

                &--logo1
                    right: -88px

                &--logo2
                    right: -110px

                &--logo3
                    right: -95px

                &--logo4
                    right: -64px

            &__item
                margin-top: 46px
                padding-left: 19px

                &__title
                    font-size: 24px

                &__price
                    font-size: 24px

                    &--pl1
                        padding-left: 209px

                    &--pl2
                        padding-left: 171px

                    &--pl3
                        padding-left: 96px

                    &--pl4
                        padding-left: 125px

                &__info
                    margin-top: 17px
                    padding-right: 6px
                    padding-left: 3px
                    font-size: 16px

                    &--lh12
                        line-height: 1.1

    .footer_pizza
        height: 97px
        margin-top: 84px
        padding-top: 0px
        font-size: 18px
        text-align: justify

        &__logo
            display: inline-block
            margin: 7px 10px

        &__text
            position: relative
            top: -42px
            right: -244px
            display: inline-block