
.container
    font-size: 0px  

.head-pizza

    &__wraper
        display: flex

    &__title
        display: inline-block
        width: 279px
        padding: 11px 0 14px 18px
        box-sizing: border-box
        font-family: Montserrat
        font-size: 13px
        font-weight: 500
        color: #fff
        background: #373c3f

        &--pr1
            letter-spacing: -0.5px

    &__btn
        display: inline-block
        width: 41px
        padding: 13px 13px 11px 13px
        box-sizing: border-box
        border: 0px
        background: #202529

        &--span1, &--span2, &--span3
            display: block
            width: 16px
            height: 2px
            background-color: #fff
            margin: 2px 0
            transition: 0.4s 
        
        &:hover &--span1
            transform: rotate(45deg) translate(4px, 4px)

        &:hover &--span2
            opacity: 0

        &:hover &--span3
            transform: rotate(-45deg) translate(2px, -2px)

        &:hover + .head-menu
            display: block
            
    &__logo
        display: none

.head-menu
    position: absolute
    top: 38px
    right: 0px
    display: none
    font-size: 12px
    font-family: "Lato"
    color: #444
    background-color: #fff

    &:hover
        display: block


    &__item
        width: 182px
        height: 30px
        padding: 8px 0 12px 13px
        box-sizing: border-box
        border: 1px solid #f1f1f1

        &:hover
            background-color: #f5f5f5

.head-main
    width: 320px
    height: 173px
    padding: 15px 20px
    box-sizing: border-box
    background-image: url('../imgs/main-fon.png')
    background-size: 100%
    font-family: Lato

    &__text
        font-size: 16px
        font-weight: 700
        color: #fff

    &__text:nth-of-type(2)
        margin-top: 7px

    &__link
        display: inline-block
        margin-top: 9px
        font-size: 14px
        font-weight: 700
        text-decoration: none
        color: #a6d6e0

.menu-main
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 227px
    margin-top: 4px
    font-family: Lato
    font-size: 0px

    &-item
        color: #fff

        &__title
            position: relative
            top: -3px
            display: inline-block
            width: 250px
            padding: 28px 0 32px 0
            font-size: 20px
            font-weight: 700
            text-align: center
            line-height: .75

            &--bckgnd1
                margin-bottom: -2px
                background-image: url('../imgs/320px/pizza_delivery_fon_320px.png')

            &--bckgnd2
                margin-bottom: -2px
                background-image: url('../imgs/320px/UA_UX_salads_fon_320px.png')

            &--bckgnd3
                background-image: url('../imgs/320px/desserts_fon_320px.png')

            &--span-pr1
                position: relative
                top: -1px
                left: 2px
            
            &--span-pr2
                position: relative
                top: 1px
                left: 12px

            &--span-pr3
                position: relative
                left: -3px

        &__btn
            width: 70px
            height: 75px
            padding: 2px 0px 0px 0px
            border: none
            font-size: 20px
            color: #fff
            background-color: #acd8ad

            & .fas
                position: relative

                &--pr1
                    top: -4px
                    left: -1px

                &--pr2
                    top: -4px
                    left: -2px

                &--pr3
                    top: -4px
                    left: -2px

.menu-in-detail
    font-family: "Lato"

    &-slogan
        margin-top: 22px   
        text-align: center

        &__title
            display: inline-block
            font-size: 20px
            color: #3f4043
            text-transform: uppercase

        &__desc
            margin-top: 2px
            padding-left: 10px
            text-align: left
            font-size: 10px
            color: #cbccce

    &-categories

        &__title
            margin-top: 11px
            padding: 8px 0 8px 19px
            font-size: 20px
            text-transform: uppercase

            &--bckgnd-grey
                background-color: #3f4043

            &--bckgnd-green
                background-color: #acd8ad

            &--color-white
                color: #fff

            &--color-green
            color: #acd8ad

            &--mt
                margin-top: 29px

            &--pr1
                position: relative
                top: 0px

    &-category

        &__title
            margin-top: 6px
            margin-bottom: 20px
            padding-left: 18px
            font-size: 15px
            text-transform: uppercase
            color: #3f4043

            &--mt1
                margin-top: 14px

            &--mt2
                margin-top: 10px

            &--logo1
                position: relative
                right: -73px
                bottom: -6px
                display: inline-block
                width: 25px
                height: 25px
                background-image: url('../imgs/320px/menu_logos/menu_item_logo_01.png')

            &--logo2
                position: relative
                right: -78px
                bottom: -7px
                display: inline-block
                width: 13px
                height: 24px
                background-image: url('../imgs/320px/menu_logos/menu_item_logo_02.png')

            &--logo3
                position: relative
                right: -80px
                bottom: -3px
                display: inline-block
                width: 30px
                height: 21px
                background-image: url('../imgs/320px/menu_logos/menu_item_logo_03.png')

            &--logo4
                position: relative
                right: -55px
                bottom: -5px
                display: inline-block
                width: 21px
                height: 20px
                background-image: url('../imgs/320px/menu_logos/menu_item_logo_04.png')

        &__item
            padding-left: 15px
            color: #3f4043

            &--mt4
                margin-top: 6px

            &--mt5
                margin-top: 9px

            &--mt6
                margin-top: 8px

            &--margin
                margin-top: 10px

            &__title
                display: inline-block
                letter-spacing: -0.2px
                padding-left: 2px
                font-size: 14px

                &--pr1
                    position: relative
                    top: -2px

            &__price
                display: inline-block
                font-size: 14px
                font-weight: 700

                &--pl1
                    padding-left: 141px

                &--pl2
                    padding-left: 118px

                &--pl3
                    padding-left: 75px

                &--pl4
                    padding-left: 92px

                &--pr1
                    position: relative
                    top: -2px

                &--pr2
                    position: relative
                    top: -1px

            &__info
                margin-top: 7px
                padding-right: 17px
                padding-left: 3px
                letter-spacing: -0.2px
                font-size: 9px
                line-height: 1.1
                text-align: justify

                &--mt4
                    margin-top: 6px

                &--mt6
                    margin-top: 4px

                &--mt5
                    margin-top: 7px

                &--lh12
                    line-height: 1.25

.footer_pizza
    height: 55px
    margin-top: 49px
    padding-top: 12px
    text-align: center
    font-family: Montserrat
    font-size: 12px
    background-color: #acd8ad

    &__logo
        display: none

    &__text
        display: inline-block
        color: #fff

        &--mt1
            margin-top: 6px
            
@import "width640px";
@import "width644px";
@import "width980px";
