.container {
    padding: 20px 200px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 0px;
}

.game-title {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.game-description {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.game-description span {
    color: orangered;
}

.game-btns-block {
    margin-bottom: 50px;
    text-align: center;
}

.game-btns-title {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.btn {
    width: 100px;
    padding: 7px 0;
    border: none;
    font-size: 16px;
}

.btn-easy {
    background-color: limegreen;
}

.btn-norm {
    margin: 0px 20px;
    background-color: dodgerblue;
}

.btn-hard {
    background-color: tomato;
}

.fight {
    font-size: 60px;
    color: orangered;
}

.hide {
    display: none;
}

.game-score {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

.game-score span {
    display: inline-block;
}

.score-human {
    width: 100px;
    text-align: right;
}

.score-computer {
    width: 100px;
    text-align: left;
}

.score-human-amount, .score-computer-amount {
    width: 50px;
}

.game-table {
    margin: 0 auto;
}

.game-table-cell {
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.game-table-cell.active {
    background-color: slateblue;
}

.game-table-cell.human-cell {
    background-color: springgreen;
}

.game-table-cell.computer-cell {
    background-color: red;
}