.container {
    display: flex;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 0px;
}

.element {
    width: 14vw;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid orangered;
    font-size: 14px;
}

.title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.title-id {
    margin-bottom: 10px;
    font-style: italic;
}

.text {
    margin-bottom: 10px;
}

.name {
    font-style: italic;
    color: slateblue;
}

.name-bold {
    font-weight: 700;
}

/* loader */
.hide {
    display: none;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: slateblue;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }